@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao nosso sistema!</h1>
    <p>Explore nossos departamentos e produtos incríveis.</p>
    <p>Navegue pela lista de departamentos para descobrir as diversas áreas em que atuamos e conheça nossos produtos inovadores.</p>
    <p>Além disso, você pode acessar o formulário CRUD de produtos para gerenciar nossos produtos com facilidade.</p>
</div>
